footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-contents {
  background-color: #e4e4e4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 40px;
}

.back-to-top a {
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #000;
}
