.posts-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.posts-list a {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-decoration: none;
  color: #000;
  background-color: #d9d9d9;
  width: 70%;
  gap: 20px;
  padding: 18px 12px;
  border-radius: 6px;
  margin-bottom: 36px;
}

.posts-list a h3 {
  font-size: 24px;
}

.button-div {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ============ Responsividade ================ */

@media (max-width: 863px) {
  .posts-list a h3 {
    font-size: 22px;
  }
}

@media (max-width: 658px) {
  .posts-list a h3 {
    font-size: 20px;
  }
}

@media (max-width: 527px) {
  .posts-list a h3 {
    font-size: 18px;
  }

  .posts-list a p {
    font-size: 14px;
  }
}

@media (max-width: 391px) {
  .posts-list a h3 {
    font-size: 17px;
  }
}
