.header {
  margin-top: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header span {
  color: #9d9d9d;
}

.posts-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 863px) {
  .header h1 {
    font-size: 28px;
  }
}

@media (max-width: 497px) {
  .header h1 {
    font-size: 26px;
  }
}
